{{>header}}
	<div class='container'>
		<div class='row valign-wrapper'>
			<div class='valign'>
				<div class='col s12 m3 l3'>
					<div class='card valign'>
						<div class='card-image'>
							<img src='/static/images/germany.jpg'>
						</div>
					</div>
				</div>
			</div>
			<div class='col s12 m6 l6'>
				<div class='flow-text'>
				I am a graduate student at UC Berkeley's School of Information. I specialize in Artifical Intelligence and Natural Language Processing for medical applications. Prior to joining Berkeley, I worked in various data scientist and software engineering roles in the tech industry. I was a software developer at IBM where I built end-to-end Cloud Analytics solutions. I graduated from UCLA with a Bachelor's in Applied Mathematics, focusing on Numerical Analysis and Probability Theory.
				</div>
			</div>
		</div>
	</div>
{{>footer}}