{{>header}}
	<div class='container'>
		<div class='valign-wrapper' style='width:100%;height:100%'>
			<div class='row valign'>
				
				<div class='col s12 m3 l3'>
					<div class='card '>
						<div class='card-image'>
							<img src='/static/images/germany.jpg'>
						</div>
					</div>
				</div>
				
				<div class='col s12 m1 l1'></div>
				<div class='col s12 m8 l8'>
					<div class='flow-text'>
					I am a graduate student at UC Berkeley's School of Information. I specialize in Artifical Intelligence and Natural Language Processing for medical applications. Prior to joining Berkeley, I worked in various data science and software engineering roles. I worked as a software developer in IBM's Cloud Analytics division and as a data scientist in a startup. I graduated from UCLA with a Bachelor's in Applied Mathematics, focusing on Numerical Analysis and Probability Theory.
					</div>
				</div>
			</div>
		</div>

	</div>
	<section class='white' style='width:100%'><br></section>
{{>footer}}