{{>header}}
	<div class='container'>
		<div class='valign-wrapper' style='width:100%;height:100%'>
			<div class='row valign'>
				
				<div class='col s12 m4 l4'>
					<div class='card '>
						<div class='card-image'>
							<img src='/static/images/germany.jpg'>
						</div>
					</div>
				</div>
				
				<div class='col s12 m1 l1'></div>
				<div class='col s12 m8 l8'>
					<div><br><br><br>
						<div class='grey-text text-lighten-0 flow-text'>
						I am a <mark class='deep-orange lighten-5'><a href='https://www.ischool.berkeley.edu/people/vikram-reddy'>masters student at UC Berkeley</a></mark> 
						and have a B.S. in Applied Mathematics from UCLA. Prior to Berkeley, I worked in IBM's Cloud Analytics Division, where I helped to build a 
						<mark class='deep-orange lighten-5'><a href='https://www.ibm.com/us-en/marketplace/data-server-manager/details#product-header-top'>competitor to Amazon's RDS</a></mark>. 
						I write about Machine Learning, Data Science, Software Systems, and Neural Computation.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<section class='white' style='width:100%'><br></section>
{{>footer}}
