<html>
	<head>
		<!--Import Google Icon Font-->
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel='stylesheet'>
		<!-- Links to compiled and minified CSS on CDN server -->
		<link rel='stylesheet' href='/static/css/materialize.min.css'>
		<!-- Links to compiled and minified materialize javascript file on CDN Server -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src='/static/js/materialize.min.js' ></script>
		<link rel='stylesheet' href='/static/css/style.css'>
	</head>
	<title>Vikram M. Reddy</title>
	<body class='white scrollspy'>

		<div class='navbar-fixed'> 
			<nav class='blue lighten-2'>
			<div class='nav-wrapper'>
				<div class='col s12'>
				<a href='/' class='left brand-logo grey-text text-lighten-4'> Vikram M. Reddy </a>
				<ul id='nav-mobile' class='right'>
					<li> <a class='grey-text text-lighten-4' href='/blog'> Blog </a> </li>
					<li> <a class='grey-text text-lighten-4' href='/#projects'> Projects </a> </li>
					<li> <a class='grey-text text-lighten-4' href='/#contact'> Contact </a> </li>

				</ul>
				</div>
			</div>
			</nav>
		</div>