{{>header}}
		<div class='parallax-container'>
			<div class='parallax'><img src='/static/images/1s0s_black.jpg'></div>
		</div>
		<div class='container'>
			<div class='row'>
				<div class='col s8 m8 l8'>
					<div class='vertical-align wrapper'>
						<h2 class='right-align blue-text text-lighten-4'> 
						DATA SCIENCE FOR 
						 </h2>
			
					</div>
				</div>
						<div class='col s4 m4 l4'>
						<h2 class='left-align deep-orange-text text-lighten-4 utility-text'>
						 GOOD.</h2></div>
			
				</div>
				<div class='flow-text'>
					What is social good? Does it consist only of helping charities? Volunteering? I believe technical innovation is also part of social good. Data science can be applied to help people in any field. My biggest interest is in medical and health care analytics. I also develop big data visualizations for finance and consumer applications.
				</div>
			</div>

			<div class='row'></div>

		</div>

		<div class='section white'>
			<div class='row'>
				<div class='col s4 m4 l4'>
					<h2 class='center-align header grey-text text-darken-4'> Finance
					</h2>
				</div>
				<div class='col s4 m4 l4'>
					<h2 class='center-align header grey-text text-darken-4'> Medicine
					</h2>
				</div>
				<div class='col s4 m4 l4'>
					<h2 class='center-align header grey-text text-darken-4'> Fun
					</h2>
				</div>
			</div>
		</div>

		<div class='parallax-container'>
			<div class='parallax'><img src='/static/images/blackboard_business.jpg'></div>
		</div>

{{>footer}}

