<html>
	<head>
		<!-- Links to compiled and minified CSS on CDN server -->
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css'>
		<!-- Links to compiled and minified materialize javascript file on CDN Server -->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js' ></script>
	</head>
	<title>On Language and Learning</title>
	<body>
		<div class='c12'>
			<div class='col l2'>
				<div class='row'>
					<button class='btn'> hello world </button>
				</div>
			</div>
			<div class='card-panel'>
				<p class='center-align'> What's up world! </p>
			</div>
			<p class='center-align'> I live in Berkeley! </p>

		</div>
	</body>
</html>
