<!--Projects-->
<div id="projects" class="section scroll-adjust white" style="scrollOffset: 300;">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header"> Projects </h2>
            </div>

            <div class="col s12 m6 l4">
            	<div class='card card_size hoverable'>
            		<div class='card-image waves-effect waves-block waves-light'>
            			<img class='activator img_size' src='/static/images/ddi_hand.jpeg'>
            		</div>
                    <div class='card-content'>
                    	<span class='activator'> Predicting Drug to Drug Interactions
                    		
                    	</span>
                    </div>
                    <div class='card-reveal'>
                    	<span class='card-title'>Predicting Drug to Drug Interactions
                    		
                    	</span>
                    	<p class='center'> <a href='/projects/ddi'> Project Link </a> </p>
                    </div>
                    
            	</div>
            </div>
            <div class="col s12 m6 l4">
                 <div class='card card_size hoverable'>
                 	<div class='card-image waves-effect waves-block img_size'>
                 		<img class='activator' src='/static/images/cloud_library.jpeg'>
                 	</div>
                    <div class='card-content'>
                    	<span class='activator'>Topic Modeling for Medical Texts
                    		
                    	</span>
                    	<br>
                    
                    </div>
                    <div class='card-reveal'>
                    	<span class='card-title activator'>Topic Modeling for Medical Texts
                    		
                    	</span>
                    	<p class='center'> <a href='http://nbviewer.jupyter.org/gist/ghvik/18a2d82bdd4f6ecb42726c91315ec2df'> Project Link </a> </p>
                    </div>                    
            	</div>
            </div>
        
            <div class='col s12 m6 l4'>
                <div class='card card_size hoverable'>
                    <div class='card-image'>
                        <img class='activator waves-block waves-effect img_size' src='/static/images/ClinSenseCalHacks.png'>
                    </div>
                    <div class='card-content'>
                        <span class='activator'> Winner of Best Potential Startup in Cal Hacks 2016 </span>
                    </div>
                    <div class='card-reveal'>
                        <span class='card-title activator'> ClinSense - Winner of Best Potential Startup in Cal Hacks 2016 </span>
                        <br>
                        <span> The competition had 1500 Participants and is the world's largest hackathon</span>
                        <p class='center'><a href='https://devpost.com/software/clinsense'>Project Link</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>